<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suming.cpa">




    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATIONS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="补全计划A"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:theme="@style/MainTheme">

        <!-- 控制中心磁铁 -->
        <meta-data
            android:name="com.huawei.messaging.default_notification_icon"
            android:value="@drawable/ic_launcher_foreground"/>

        <!-- 主页 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 深色模式壁纸 -->
        <activity android:name=".DarkModeActivity"
            android:exported="true"/>

        <!-- 切换模式纯净版 -->
        <activity android:name=".DarkModePure"
            android:excludeFromRecents="true"
            android:theme="@style/DarkModePureTheme"
            android:exported="true"/>

        <!-- 后台检查 -->
        <activity android:name=".BackgroundCheckActivity"
            android:exported="true"/>

        <!-- 音量控制 -->
        <activity android:name=".VolumeControl"
            android:exported="true"/>



        <!-- 通知控制 -->
        <activity android:name=".NotiControl"
            android:exported="true"/>

        <!-- 指南和帮助 -->
        <activity android:name=".GuidanceActivity"
            android:exported="true"/>

        <!-- 设置 -->
        <activity android:name=".SettingsActivity"
            android:exported="true"/>

        <!-- 关于 -->
        <activity android:name=".AboutActivity"
            android:exported="true"/>

        <!-- 开放源代码许可 -->
        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/THEME_OSS"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/THEME_OSS"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>

        <!-- 服务：控制中心磁贴:深色壁纸 -->
        <service
            android:name="com.suming.cpa.DarkModeTileService"
            android:exported="true"
            android:label="深色壁纸"
            android:icon="@drawable/ic_tile_dark_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:resource="@xml/my_tile"
                android:name="huawei.theme.accent_support"
                android:value="true" />
        </service>

        <!-- 服务：控制中心磁贴:音量面板 -->
        <service
            android:name="com.suming.cpa.VolumeTileService"
            android:exported="true"
            android:label="音量面板"
            android:icon="@drawable/ic_tile_volume"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:resource="@xml/my_tile"
                android:name="huawei.theme.accent_support"
                android:value="true" />
        </service>

        <!-- 服务：通知监听 -->
        <service android:name=".NotiService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>
</manifest>